<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ categoria.nombre }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/categorias.css">


</head>
<body>
    <div class="container mt-5">
        <h1>{{ categoria.nombre }}</h1>
        <p>{{ categoria.descripcion }}</p>
        
        <h2>Subcategorías</h2>
        <ul>
            {% for subcategoria in categoria.subcategorias %}
                <li>
                    <a href="{{ url_for('subcategoria', subcategoria_id=subcategoria.id) }}">
                        {{ subcategoria.nombre }} - {{ subcategoria.descripcion }}
                    </a>
                </li>
            {% else %}
                <li>No hay subcategorías disponibles.</li>
            {% endfor %}
        </ul>    
        <a href="/" class="btn btn-secondary">Volver al inicio</a>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
