<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de {{ participante.usuario }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/ranking.css">

</head>
<body>
    <div class="container">
        <h1>Detalle de Participante: {{ participante.usuario }}</h1>
        <p class="text-center">Puntuación Total: <span style="color: #ffcc00;">{{ participante.puntuacion }}</span></p>

        <h2>Desafíos Completados</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre del Desafío</th>
                    <th>Puntuación</th>
                    <th>Categoría</th>
                    <th>Dificultad</th>
                    <th>Tiempo</th>
                    <th>Fecha de Completado</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr>
                    <td>{{ detalle.nombre }}</td>
                    <td>{{ detalle.puntuacion }}</td>
                    <td>{{ detalle.categoria }}</td>
                    <td>{{ detalle.dificultad }}</td>
                    <td>{{ detalle.tiempo }}</td>
                    <td>{{ detalle.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('ranking') }}" class="btn-primary">Volver al Ranking</a>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
